In [2]:
import duckdb

In [5]:
conn = duckdb.connect("../db/instacart.duckdb")

Load orders.csv

In [ ]:
conn.execute("""
CREATE TABLE orders AS
SELECT * from read_csv_auto('../data/orders.csv')
""")

Load products.csv

In [8]:
conn.execute("""
CREATE TABLE products AS
             SELECT * from read_csv_auto('../data/products.csv')
""")

Load aisles.csv

In [9]:
conn.execute("""
    CREATE TABLE aisles AS
    SELECT * FROM read_csv_auto('../data/aisles.csv')
""")

Load departments.csv

In [10]:
conn.execute("""
    CREATE TABLE departments AS
    SELECT * FROM read_csv_auto('../data/departments.csv')
""")

Load order_products__prior.csv

In [11]:
conn.execute("""
    CREATE TABLE order_products_prior AS
    SELECT * FROM read_csv_auto('../data/order_products__prior.csv')
""")

Load rder_products__train.csv

In [12]:
conn.execute("""
    CREATE TABLE order_products_train AS
    SELECT * FROM read_csv_auto('../data/order_products__train.csv')
""")

CONFIRM TABLES

In [13]:
conn.execute("""SHOW TABLES""").fetchall()

[('aisles',),
 ('departments',),
 ('order_products_prior',),
 ('order_products_train',),
 ('orders',),
 ('products',)]

In [14]:
conn.execute("DESCRIBE orders").df()

              column_name column_type null   key default extra
0                order_id      BIGINT  YES  None    None  None
1                 user_id      BIGINT  YES  None    None  None
2                eval_set     VARCHAR  YES  None    None  None
3            order_number      BIGINT  YES  None    None  None
4               order_dow      BIGINT  YES  None    None  None
5       order_hour_of_day     VARCHAR  YES  None    None  None
6  days_since_prior_order      DOUBLE  YES  None    None  None

In [15]:
conn.execute("""
    SELECT COUNT(*) 
    FROM order_products_prior p
    LEFT JOIN products pr
    ON p.product_id = pr.product_id
    WHERE pr.product_id IS NULL
""").fetchall()

[(0,)]

In [16]:
conn.close()